@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture&display=swap');
@import url("https://fonts.googleapis.com/css?family=Black+And+White+Picture|Yesteryear&display=swap");

.down{
    padding-left:50px;
}
.bt{
    margin-left: 30px;
    margin-bottom: 10px;
}